<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase Notification</title>
</head>
<body>
    <p>Hello {{FirstName}} {{LastName}},</p>
    <p>Thank you for your purchase. You have bought the following items:</p>
    <ul>
        {{#each CartDetails}}
        <li>{{this.Product.Name}} {{this.Count}}</li>
        {{/each}}
    </ul>
    <p>Thank you for choosing our services!</p>
</body>
</html>
